body {
    background-color: #f6f6f6;
}
.shoping {
    display: flex;
    justify-content: center;
}
  
nav {
    background: rgb(232, 211, 244);
    display: flex;
    justify-content: center;
    padding: 15px;
}

.link {
    padding: 10px 40px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
}

.App {
    background-color:  rgb(232, 211, 244);
}

.search {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: rgb(133, 11, 204);
    background-color: transparent;
    margin-left: 0px;
    box-shadow: inset 0px 0px 0px 4px #e9e6e9;
  
  }
  .product {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  }

  .labell {
    display: flex;
    flex-direction: column;   
    width: 50%;
    gap: 0.5em;
    font-size: 20px;    
  }


  .form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #eeb8ef;
    width: 40%;
    gap: 0.3em;
  }

  .submit {
    background-color: rgb(244, 220, 112);
    width: 15%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
  }


 